@font-face {
  font-family: "Playfair Display SemiBold";
  src: url("../fonts/Playfair\ Display\ SemiBold\ Italic.woff2") format("woff2"),
    url("../fonts/Playfair\ Display\ SemiBold\ Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

/* ============ GENERAL ============ */

* {
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display SemiBold";
  font-size: 1.1rem;
  background-color: hsl(33, 79%, 92%);
  color: hsl(112, 92%, 5%);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
h1 {
  font-size: 2.6rem;
  padding: 1rem 2rem;
}
header p {
  background-color: rgb(255, 179, 0);
  max-width: 50%;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 4rem;
  color: hsl(33, 79%, 92%);
}

/* ============ MAIN ============ */

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 7rem;
  width: 100%;
  max-width: 30%;
}

.seed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg__rose {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 13rem;
  margin-top: 4rem;
}

.svg__soil {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-top: 4rem;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flowers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.form {
  width: 15rem;
  & .form__group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3rem;

    &:is(:has(.form__input:focus), :has(.form__input:not(:placeholder-shown)))
      .form__label {
      transform: scale(1) translateY(-2.1rem);
    }

    & .form__label {
      position: absolute;
      transform-origin: left top;
      transition: all 0.2s ease;
      margin: 0.5rem;
    }

    & .form__input {
      border: 1px solid hsl(0, 0%, 0%);
      transition: border-color 0.25s linear;
      padding: 1rem;
      border-radius: 8px;
      border: none;
    }
  }
}
/*INPUT*/

.flower-wrap,
.pot-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-wrap {
  display: flex;
  gap: 1rem;
}
#editor,
pre {
  font-family: "Playfair Display SemiBold";
  font-size: 16px;
  line-height: 1.5;
  color: rgb(119, 119, 119);
}
#editor {
  position: relative;
  width: 50%;
}
* {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
#sidebar {
  width: 50%;
  min-width: 300px;
  padding: 2em;
  background-color: #43a047;
  font-size: 15px;
}
#css {
  height: 260px;
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: #ffa600;
  border-radius: 4px;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
#editor,
pre {
  font-family: "Playfair Display SemiBold";

  font-size: 16px;
  line-height: 1;
  color: rgb(255, 255, 255);
}
.line-numbers {
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 6px;
  text-align: right;
  background-color: rgb(255, 132, 0);
  color: #ffffff;
}

#code {
  display: block;
  width: calc(100% - 16px);
  height: 24px;
  margin-left: 16px;
  border: none;
  font-family: "Playfair Display SemiBold";
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
}
#next.disabled {
  opacity: 0.5;
}
#next {
  position: absolute;
  right: 1em;
  bottom: 1em;
  padding-top: 0.3em;
}
button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: #d11606;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
}
.green {
  filter: hue-rotate(120deg);
}
.blue {
  filter: hue-rotate(240deg);
}
.red {
  filter: hue-rotate(0deg);
}
.yellow {
  filter: hue-rotate(60deg);
}
.purple {
  filter: hue-rotate(300deg);
}
