@font-face {
    font-family: 'Playfair Display SemiBold';
    src: url('../fonts/Playfair\ Display\ SemiBold\ Italic.woff2') format('woff2'),
        url('../fonts/Playfair\ Display\ SemiBold\ Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

/* ============ GENERAL ============ */
body {
    font-family: 'Playfair Display SemiBold';
    font-size: 1.1rem;
    background-color: hsl(33, 79%, 92%);
    color: hsl(112, 92%, 5%);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    padding: 1rem 3rem;
}

/* ============ MAIN ============ */

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15rem 0;
    gap: 3rem;
    width: 100%;
}

.seed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    display: flex;
}

.svg__rose {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 13rem;
}

.svg__soil {
    position: relative;
    width: 10rem;
    height: 10rem;
}

.form-container {
    position: relative;
    margin-bottom: 1rem;

    & label {
        position: absolute;
        transition: top 0.3s ease;
        pointer-events: none;
    }

    &focus label {
        top: 0.31rem;
    }
}

input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 14rem;
    padding: 1.3rem;
}