/* =========== GENERAL =========== */
.logo {
  width: 3rem;
}

h2 {
  font-size: 1.15rem;
}

svg {
  width: 100%;
  height: 100%;
}
/* =========== HEADER =========== */
.header-wrap {
  display: flex;
  background-color: hsl(88, 58%, 46%);
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  width: 100vw;
}

.left-nav {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

.middle-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* =========== MAIN =========== */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrap {
  padding: 7rem;
  width: 74rem;
  gap: 25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 72.87rem) {
  .grid-wrap {
    gap: 23rem;
  }
}

@media (max-width: 67.938rem) {
  .grid-wrap {
    gap: 23rem;
  }
}

@media (max-width: 66.938rem) {
  .grid-wrap {
    gap: 21rem;
  }
}

@media (max-width: 64.938rem) {
  .grid-wrap {
    gap: 20rem;
  }
}

@media (max-width: 63.938rem) {
  .grid-wrap {
    gap: 18rem;
  }
}

@media (max-width: 61.938rem) {
  .grid-wrap {
    gap: 7rem;
    flex-direction: column;
  }
}

.grid {
  width: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.aker {
  border: hsl(0, 0%, 0%) 1px solid;
  background-color: hsl(31, 100%, 21%);
  padding: 1rem;
}

.aker--correct {
  animation: brighterBorder 10s ease forwards;
}

.inventory {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inventory-box {
  margin-bottom: 1rem;
  max-width: 10rem;
  padding: 3rem;
  border: solid hsl(0, 0%, 100%) 2px;
}

@keyframes brighterBorder {
  0% {
    border: 15px solid hsl(120, 100%, 50%);
   

  }

  100% {
    border-color: hsl(0, 0%, 0%);
    
  }
}

/* =========== OVERLAY SHOP =========== */
.shop {
  width: 20%;
  height: 30%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
}

@media (max-width: 61.938rem) {
  .shop {
    position: relative;
  }
}

.overlay-shop {
  display: none;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.overlay-shop--active {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  z-index: 100;
}

/* =========== WALLET =========== */
.overlay-wallet {
  display: none;
  width: 100%;
  height: 100vh;
}

.overlay-wallet--active {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  z-index: 100;
}

.silo-wallet-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.silo,
.wallet {
  margin-top: 2rem;
}

.wallet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}