.header-wrap {
  display: flex;
  background-color: #78b831;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  width: 100vw;
}

.left-nav {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 3rem;
}

.middle-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.15rem;
}

.grid-wrap {
  margin-top: 5rem;
  width: 100vw;
  height: 100lvh;
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
  justify-content: center;
}

.right-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*Overlay  shop*/
.shop {
  width: 20%;
  height: 30%;
  background-color: white;
  position: absolute;
  margin-top: 26rem;
}

.overlay-shop {
  display: none;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.overlay-shop--active {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 100);
  z-index: 100;
}

/*Overlay  shop*/

.grid {
  width: 30%;
  height: 40%;
  background-color: rgb(108, 56, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.aker {
  border: black 1px solid;
  padding: 1rem;
}

.overlay-wallet {
  display: none;
  width: 100%;
  height: 100vh;
}

.overlay-wallet--active {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 100);
  z-index: 100;
}

.silo-wallet-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.inventory-box {
  margin-bottom: 1rem;
  max-width: 10rem;
  padding: 3rem;
  border: solid white 2px;
}

@keyframes brighterBorder {
  0% {
    border: 4px solid rgba(0, 255, 1);
    /* Brighter green */

  }

  100% {
    border-color: black(0, 255, 0, 0.5);
    /* Brighter green */
  }
}

.aker--correct {
  animation: brighterBorder 6s ease forwards;
}

svg {
  width: 100%;
  height: 100%;
}

.silo,
.wallet {
  margin-top: 2rem;
}

.inventory {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wallet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}